.job-type {
  width: 63px;
  height: 26px;
  border: 1px solid #334680;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #334680;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;

  &:hover {
    background: #d6dbf7cc;
  }
}
