.search-zone {
  width: 100%;
  height: 138px;
  border-radius: 8px;
  background-image: url("../../assets/search-bg.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}