.search-zone {
  width: 100%;
  height: 138px;
  border-radius: 8px;
  background-image: url("../../assets/search-bg.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebars-container {
  margin-top: 42px;
  display: grid;
  grid-template-columns: 379px 1fr;
  column-gap: 32px;

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

