.view-changer {
  margin-left: 12px;
  border: 1px solid #b7bcce;
  box-sizing: border-box;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  color: #b9bdcf;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  user-select: none;

  &:hover {
    border: 1px solid #1e86ff;
    color: #1e86ff;
  }
}

.more {
  border: none;

  &:hover {
    border: none;
    color: #1e86ff;
  }
}

.disabled {
  &:hover {
    border: none;
    color: #b7bcce;
  }
}

.active {
  background: #1e86ff;
  color: #ffffff;

  &:hover {
    color: #ffffff !important;
  }
}


